

body {
	-webkit-text-size-adjust : 100%;
	padding-left: 0;
	padding-right: 0;
}

.container {
	text-align: center;
}

.falicity {
	background: #ffd65e;
	background: -moz-linear-gradient(left,  #ffd65e 0%, #febf04 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffd65e), color-stop(100%,#febf04));
	background: -webkit-linear-gradient(left,  #ffd65e 0%,#febf04 100%);
	background: -o-linear-gradient(left,  #ffd65e 0%,#febf04 100%);
	background: -ms-linear-gradient(left,  #ffd65e 0%,#febf04 100%);
	background: linear-gradient(to right,  #ffd65e 0%,#febf04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=1 );
}

.bluesky {
	color: #FFF;
	background: #7abcff;
	background: -moz-linear-gradient(left,  #7abcff 0%, #60abf8 44%, #4096ee 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
	background: -webkit-linear-gradient(left,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: -o-linear-gradient(left,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: -ms-linear-gradient(left,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: linear-gradient(to right,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 );
}


.contents {
	padding: 30px 0;
	margin: 0 auto;
	text-align: center;
}

.contents h1 {
	padding: 20px 0;
}

#canvas {
	/* 	background-color:#333333; */
/* 	border: 1px solid #CCC; */
	margin: 0 auto;
}
@media screen and (max-width: 760px) {
	#canvas {
		width: 100%;
	}
}

#numbers {
	list-style: none;
	font-size: 20px;
	margin: 20px;
}

#numbers li {
	display: inline;
	margin: 10px;
	padding: 6px 7px;
	background: url('/img/kuji-ball.png');
}

#btn-lot {
	width: 100px;
	height: 60px;
	font-size: 20px;
}

